<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>My Community</title>
    <link rel="stylesheet" href="stylesheets/stylesheet.css" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdMu7yxgGE_OGV8wzfAGPs3XmP-5NlMGc&sensor=true" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/topojson.v1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/underscore.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/toRad.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/getParameterByName.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/map.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/get-involved/angular.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/get-involved/angular-resource.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/get-involved/project.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/get-involved/mongolab.js" charset="utf-8"></script>
    <style type="text/css" media="screen">
      .left {
        float: left;
        width: 60%;
      }
      .right {
        float: left;
        width: 30%;
      }
      .hidden {
        display: none;
      }
    </style>
    <script type="text/javascript" charset="utf-8">
        $(function() {
          $("body").on("click", ".toggle", function() {
            $(".details").slideUp();
            $(this).next(".details").slideDown();
          });
        });
    </script>
  </head>
  <body>

    <header class="header">
      <div class="inner-wrapper">
        <a href="index.html" class="logo">My Community</a>
        <nav class="nav nav-horizontal nav-primary">
          <ul>
            <li><a href="#">menu</a></li>
            <li><a href="#">menu</a></li>
            <li><a href="#">menu</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="community-navigation">
      <div class="inner-wrapper">
        <div class="community-navigation--details">
          <h1>Adelaide</h1>
          <h2>5000</h2>
        </div>
        <div class="community-navigation--links nav nav-horizontal">
          <ul>
            <li>
              <a href="learn.html">
                <h2>Learn</h2>
                <p>about your community</p>
              </a>
            </li>
            <li>
              <a href="explore.html">
                <h2>Explore</h2>
                <p>Local Groups &amp; Activities</p>
              </a>
            </li>
            <li>
              <a href="connect.html" class="community-navigation--active">
                <h2>Connect</h2>
                <p>From the bottom up</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="explore layout--section">

      <div class="explore--description layout--section-description">
        <div class="inner-wrapper">
          <h2>Connect</h2>
          <p>Offering help to others and receiving help when you need it is the basis of all strong communities. </p>
        </div>
      </div>
      <div class="section">
        <div class="inner-wrapper">
          <div ng-app="project">
            <div ng-controller="ListCtrl">
              <div class="left">
                <input type="text" ng-model="search" class="search-query" placeholder="Search">
                <table class="connect-table">
                  <tbody>
                    <tr ng-repeat="project in projects | filter:search | orderBy:'title'">
                      <td>
                        <a class="toggle">{{project.title}}, {{project.type}}, {{project.location}}</a>
                        <p class="details hidden">{{ project.description}}</p>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="right connect-form">
                <form name="myForm">

                  <div class="control-group" ng-class="{error: myForm.title.$invalid}">
                    <label>Title</label>
                    <input type="text" name="title" ng-model="project.title" required>
                  </div>

                  <div class="control-group" ng-class="{error: myForm.type.$invalid}">
                    <label>Type</label>
                    <select name="type" ng-model="project.type">
                      <option value="Gardening">Gardening</option>
                      <option value="Home maintenance">Home maintenance</option>
                      <option value="Cooking">Cooking</option>
                      <option value="Learning">Learning</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>

                  <div class="control-group">
                    <label>Name</label>
                    <input type="text" name="name" ng-model="project.name">
                  </div>

                  <label>Description</label>
                  <textarea name="description" ng-model="project.description"></textarea>

                  <div class="control-group">
                    <label>Location</label>
                    <input type="text" name="location" ng-model="project.location">
                  </div>

                  <label>Contact</label>
                  <textarea name="contact" ng-model="project.contact"></textarea>

                  <br>
                  <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
                          class="btn btn-primary">Save</button>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </body>
</html>
