<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <script type="text/javascript" src="javascripts/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/get-involved/angular.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/get-involved/angular-resource.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/get-involved/project.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/get-involved/mongolab.js" charset="utf-8"></script>
  </head>
  <body>
    <h2>Get Involved</h2>
    <div ng-app="project">
      <div ng-view></div>
      <!-- CACHE FILE: list.html -->
      <script type="text/ng-template" id="list.html">
        <input type="text" ng-model="search" class="search-query" placeholder="Search">
        <table>
          <thead>
          <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Type</th>
            <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="project in projects | filter:search | orderBy:'name'">
            <td><a href="#/show/{{project._id.$oid}}">{{project.title}}</a></td>
            <td>{{project.location}}</td>
            <td>{{project.type}}</td>
            <td><a href="#/edit/{{project._id.$oid}}"><i class="icon-pencil"></i></a></td>
          </tr>
          </tbody>
        </table>
      </script>

      <!-- CACHE FILE: new.html -->
      <script type="text/ng-template" id="form.html">
        <form name="myForm">

          <div class="control-group" ng-class="{error: myForm.title.$invalid}">
            <label>Title</label>
            <input type="text" name="title" ng-model="project.title" required>
            <span ng-show="myForm.title.$error.required" class="help-inline">
                Required</span>
          </div>

          <div class="control-group" ng-class="{error: myForm.type.$invalid}">
            <label>Type</label>
            <select name="type" ng-model="project.type">
              <option value="Gardening">Gardening</option>
              <option value="Home maintenance">Home maintenance</option>
              <option value="Cooking">Cooking</option>
              <option value="Learning">Learning</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <div class="control-group">
            <label>Name</label>
            <input type="text" name="name" ng-model="project.name">
          </div>

          <label>Description</label>
          <textarea name="description" ng-model="project.description"></textarea>

          <div class="control-group">
            <label>Location</label>
            <input type="text" name="location" ng-model="project.location">
          </div>

          <label>Contact</label>
          <textarea name="contact" ng-model="project.contact"></textarea>

          <br>
          <a href="#/" class="btn">Cancel</a>
          <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
                  class="btn btn-primary">Save</button>
          <button ng-click="destroy()"
                  ng-show="project._id" class="btn btn-danger">Delete</button>
        </form>
      </script>

      <!-- CACHE FILE: detail.html -->
      <script type="text/ng-template" id="detail.html">
        <div>Name: {{project.name}}</div>
        <div>Title: {{project.title}}</div>
        <div>Description: {{project.description}}</div>
        <div>Location: {{project.location}}</div>
        <div>Type: {{project.type}}</div>
        <div>Contact: {{project.contact}}</div>
        <div>Name: {{project.name}}</div>
        <div>Coordinates: {{project.latitude}}, {{project.longitude}}</div>

        <br />
        <a href="#/" class="btn">Back</a>
      </script>
    </div>
  </body>
</html>
