.around-me {
  float: right;
  margin-right: $space;
  width: 590px;
  position: relative;
  z-index: 3;
}

.around-me--nav {
  a {
    background: #fff;
    padding: $space;
    color: #222;
    display: block;
    z-index: 4;
    position: relative;

    & + a {
      margin-left: -10px;
    }

    &.around-me--nav--active {
      color: #000;
      z-index: 5;
    }
  }
}

.around-me--section {
  clear: both;
  background: #fff;
  padding: $space;
  @include box-shadow(5px 5px 5px rgba(0,0,0,0.5));
  @include border-radius(0 10px 10px 10px);
}