.community-details {
  background: $secondary-colour;
  padding: $space;
  overflow: hidden;
  text-transform: uppercase;

  .inner-wrapper {
    position: relative;
  }
}

.community-details--nav {
  float: left;
  width: 253px;

  a {
    margin-top: $small-space;
    @include border-radius(4px);
    padding: $small-space;
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: 0.8em;

    &.community-details--nav--active {
      background: #ed1b24;
      color: #fff;
    }
  }
}

.community-details--previous,
.community-details--next {
  position: absolute;
  top: 69px;
  width: 20px;
  height: 20px;
}

.community-details--previous {
  left: 240px;
}

.community-details--next {
  right: 0;
}

.community-details--section {
  float: left;
  text-transform: uppercase;

  > div {
    float: left;
    padding: 0 $space;

    &+div {
      border-left: 1px dotted #000;
    }

    > div {
      padding: $small-space;
      width: 290px;
      height: 100px;
    }

    > div:first-child {
      border-bottom: 1px dotted #000;
    }
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    padding: 0;
    font-family: $header-font;
    font-size: 1.2em;
  }
}