.header {
  background: rgba(14,146,148,0.5);
  overflow: hidden;
  color: #fff;

  .logo {
    float: left;
    width: 323px;
    height: 55px;
    background: url("../images/layout/logo.png") top left no-repeat;
    text-indent: -9999px;
  }

  nav {
    float: right;
  }
}