@font-face {
  font-family: 'Knockout';
  src: url('../fonts/Knockout-HTF26-JuniorFlyweight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Knockout-HTF26-JuniorFlyweight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Knockout-HTF26-JuniorFlyweight.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Knockout-HTF26-JuniorFlyweight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Knockout-HTF26-JuniorFlyweight.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

@font-face {
  font-family: 'Lubal';
  src: url('../fonts/LubalGraBoo.eot'); /* IE9 Compat Modes */
  src: url('../fonts/LubalGraBoo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LubalGraBoo.woff') format('woff'), /* Modern Browsers */
       url('../fonts/LubalGraBoo.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/LubalGraBoo.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

