
// SPACING

$space: 16px;

$extra-small-space: $space / 4;
$small-space: $space / 2;

$large-space: $space * 2;
$extra-large-space: $space * 4;

// COLOURS

$primary-colour: #b7b7bb;
$secondary-colour: #f5f5f5;
$tertiary-colour: #848484;

// FONTS

$body-font: "Lubal", arial, helvetica, sans-serif; 
$header-font: "Knockout", arial, helvetica, sans-serif;